[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
django = "==2.2.21"
pillow = "*"
celery = "==4.4"
flower = "*"
braintree = "*"
pylint-django = "*"
weasyprint = "*"

[requires]
python_version = "3.8"
