.cart {
    background-color: whitesmoke;
    font-size: 1.4em;
    padding: 20px 5px;
    margin-top: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

nav {
    background-color: #3f51b5 !important;
}

.nav-wrapper {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.cart .material-icons {
    color: #827717;
}