{% extends "base.html" %}
{% load static %}
{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/product/detail.css' %}" />
{% load static %}
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col m4">
            <img height="250px" width="300px"
            src="{% if product.image %}{{ product.image.url }}
                {% else %}
                https://placebear.com/640/360
                {% endif %}">
        </div>
        <div class="col m8">
            <h4>{{ product.name }}</h4>
            <h5><a href="{{ product.category.get_absolute_url }}">
                {{ product.category }}</a></h5>
            <p class="price">${{ product.price }}</p>
            <div class="row">
                <form action="{% url "cart:cart_add" product.id %}" method="post" class="col s12">
                    {{ cart_product_form }}
                    {% csrf_token %}
                    <input type="submit" value="Add to cart">
                </form>
            </div>
            {{ product.description|linebreaks }}
        </div>
    </div>
</div>
{% endblock %}